

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  background-color: aqua;
}


#SwitchColor{
  border:5px solid black;
  padding:50px;
  margin:50px;
}

.links {
height: 0;
overflow: hidden;
list-style-type: none;
font-weight: bold;
}

.show-nav {
  height: 120px;
}

/*style compenent about us*/
#titreAbout{
  font-size: 25px;
}
  #titreAbout::after {
content: "";
display: block;
position: relative;
top: -15px;
width: 50%;
height: 1px;
margin-left: 170px;
background-color: #8892b0;
}
#paragraph,p {
          font-size: 20px;
          color: #8892b0;
          font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system,
            system-ui, sans-serif;
          margin-bottom: 50px;
        }
        #paragraph #btn-GetInTouch {
          font-size: 20px;
          font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
            monospace;
          color: #e3573c;
          border: 1px solid #e3573c;
          border-radius: 5px;
          padding: 20px 35px;
          margin-top: 50px;
        }
        #paragraph #btn-GetInTouch:hover {
          background-color: #e3583c42 !important;
          text-decoration: none;
        }
        .holle{
    display:inline-block;
    
  }
  .holle p{
    color:#8892b0;
  }
  #entscheidest{
    margin-right: 150px;
  }
  .praktikum {
    position: relative;
    width:100%;
  }
  
  .image {
    display: absolute;
    max-width: 350px;
    height: auto;
    border-radius: 5px;
}
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 350px !important;
    opacity: 1;
    border-radius: 5px;
    transition: .5s ease;
    background-color: #e3583c65;
  
  }
  #border{
    border: 2px solid #e3573c;
    margin: 10px 10px; 
    border-radius: 5px;
    width: 350px;
    height: 350px; 
    position:absolute;

  }
  .praktikum:hover .overlay {
    opacity: 0;
  }
/* Media screen size */
@media screen and (min-width: 768px) {


  .links {
      height: auto;
      display: flex;
  }

}

/*Shrinking for mobile*/
@media (max-width: 768px) {
 
  #paragraph,p {
    font-size: 20px;
  }
  #paragraph #btn-GetInTouch {
    font-size: 20px;
  }

  #linkgmail, #socail_media{
    display:none;
  }
  #name{
    font-size: 35px !important;
  }
  #alsoname{
   font-size: 30px !important
 }
}


@media (max-width: 375px) {
  .image{
    margin-bottom: 80px !important;
  }
}
@media (max-width: 375px) {
  .image{
    width: 250px;
    margin-bottom: 50px;
  }
  .overlay{
    width:250px;
  }
#border{
  width: 250px;
  height: 250px;
}
}




body {
  margin:0;
}

.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:0vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}