/*$bgcolor : #2B2A2A;
$color:#E3573C;
body{
    padding:0;
    margin:0;
    background-color: $color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.g{
    visibility: hidden;
}
.blurryG{
    background-image: url("../images/blurry-gradient-haikei.svg");
}

.svg{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.container{
    #row{
        .col-sm-4{
            #reve{
                font-size: 30px;
            }
        }
    }
}
.App{
    background-color: $bgcolor;
    color:$color;
    margin-top: 10px;
}*/
/*navbar */
/*.navbar{
    padding:0 !important;
    margin:0 !important;
    border:none;
}
.container-fluid{
    background-color: #2B2A2A !important;
}
b{
    color: #E3573C ;
}
ul li{
    margin-top: -30px;
    padding-bottom: 20px;
}
ul li a{
    color: #ccd6f6 !important;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
ul li a:hover{
    color: #E3573C !important;
}
.btn{
    border: 1px solid #E3573C;
    color: #E3573C !important ;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 8px 20px!important;
}
 .btn:hover{
    background-color: #e3583c42 !important;
}
i{
    color: #E3573C;
    font-size: 25px;
}
#myNavbar {
    .nav{
        display:inline;
    }
}*/
/* Media screen size *//*
@media screen and (max-width: 760px) {
ul li a{
text-align: center !important;
font-size: 18px;
margin: 20px !important;
}
#btn-menu{
margin-top: 20px;
margin-bottom: -20px;
border:none;
}
#logo{
width:15%;
margin-top: -40px;
}
}
*/
#img_logo{
    position: relative !important;
    min-width: 5%;
    justify-content:center;
    align-items:center;
    margin-top:5px;

}

$optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;

body {
   flex-direction:row;
   justify-content:center;
   align-items:center;
   
   font-family: 'Roboto', sans-serif;
   transition:.25s;
   background-color: #2b2a2a !important;

   .credit {
      position: absolute;
      bottom:20px;
      left:20px;
      
      color:inherit;
   }
   .options {
      display:flex;
      flex-direction:row;
      align-items:stretch;
      overflow:hidden;
      min-width:800px;
      max-width:900px;
      width:calc(100% - 100px);
      
      height:400px;
      
      .option {
         position: relative;
         overflow:hidden;

         min-width:60px;
         margin:10px;
         //border:0px solid --defaultColor;

         background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
         background-size:auto 120%;
         background-position:center;

         cursor: pointer;

         transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

         @for $i from 1 through length($optionDefaultColours) {
            &:nth-child(#{$i}) {
               --defaultBackground:#{nth($optionDefaultColours, $i)};
            }
         }
         &.active {
            flex-grow:10000;
            transform:scale(1);
            
            max-width:600px;
            margin:0px;
            border-radius:40px;
            
            background-size:auto 100%;
            .shadow {
               box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
            }
            .label {
               bottom:20px;
               left:20px;
               .info >div {
                  left:0px;
                  opacity:1;
               }
            }
            /*&:active {
               transform:scale(0.9);
            }*/
         }
         &:not(.active) {
            flex-grow:1;
            
            border-radius:30px;
            .shadow {
               bottom:-40px;
               box-shadow:inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
            }
            .label {
               bottom:10px;
               left:10px;
               .info >div {
                  left:20px;
                  opacity:0;
               }
            }
         }
         .shadow {
            position: absolute;
            bottom:0px;
            left:0px;
            right:0px;
            
            height:120px;
            
            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
         }
         .label {
            display:flex;
            position: absolute;
            right:0px;

            height:40px;
            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            .icon {
               display:flex;
               flex-direction:row;
               justify-content:center;
               align-items:center;
               
               min-width:40px;
               max-width:40px;
               height:40px;
               border-radius:100%;

               background-color:white;
               color:var(--defaultBackground);
            }
            .info {
               display:flex;
               flex-direction:column;
               justify-content:center;
               
               margin-left:10px;
               
               color:white;
               
               white-space: pre;
               >div {
                  position: relative;
                  
                  transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
               }
               .main {
                  font-weight:bold;
                  font-size:1.2rem;
               }
               .sub {
                  transition-delay:.1s;
               }
            }
         }
      }

   }
}




$bar-width: 60px;
$bar-height: 7px;
$bar-spacing: 18px;

.menu-wrapper {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: $bar-width;
	height: $bar-height + $bar-spacing*2;
   margin-top: 0px;
   margin-left: -50px;
	cursor: pointer;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
	height: $bar-height;
}

.hamburger-menu {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.hamburger-menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}



// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #2b2a2a;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background !important;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
  
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background !important;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: none;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background !important;
  height: $nav-height;
  width: $nav-height;
}


 #btn:hover {
   background-color: #e3583c42 !important;
 }
.link{
   color: #ccd6f6 !important;
   text-decoration: none !important;
   
}
b{
   color: #e3573c !important;
}
.link:hover{
   text-decoration: none;
   color: #e3573c !important;
   background: transparent !important;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .link:hover{
   text-decoration: none;
   color: #e3573c !important;
   background: #5D9CEC;
}
  #img_logo{
     width:7% !important;
  }
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
          text-align: center;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}


#linkgmail{
  transform: rotate(90deg);
  z-index: 10;
  position:fixed;
  bottom:230px;
  right: 0;
  font-size: 15px;
}
#linkgmail::after {
content: "";
display: block;
position: relative;
top: -10px;
width: 100%;
height: 1px;
bottom:0px;
margin-left: 210px;
background-color: #8892b0;
}

#linkgmail a{
color:#8892b0;
text-decoration: none;
}
#linkgmail a:hover{
  text-decoration: none;
}

#socail_media{
  transform: rotate(90deg);
  z-index: 10;
  position:fixed;
  bottom:180px;
}
#socail_media::after {
content: "";
display: block;
position: relative;
top: -10px;
width: 100%;
height: 1px;
bottom:0px;
margin-left: 210px;
background-color: #8892b0;
}

#socail_media a{
color:#8892b0;
text-decoration: none;
display: inline-block;
transform: rotate(-90deg);
padding-right: 15px;
padding-bottom:100px;
margin-bottom:-45px;
}
#socail_media a:hover{
  text-decoration: none;
}
//
.container-fluid {
  background-color: #2b2a2a !important;
}
b {
  color: #e3573c;
}
 ul li {
  margin-top: -2px;
}
ul li a,h2 {
  color: #ccd6f6 !important;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    monospace;
}
ul li a:hover {
  color: #e3573c !important;
}
.btn {
  border: 1px solid #e3573c;
  color: #e3573c !important ;
  border-radius: 5px;
  margin: 0px 10px;
  padding: 8px 20px !important;
}
.btn:hover {
  background-color: #e3583c42 !important;
}
i {
  color: #e3573c;
  font-size: 25px;
}

#topheader {
  font-size: 16px;
  margin-bottom: -20px;
  color: #e3573c;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    monospace;
  margin-top: 50px;
}
#name {
  font-size: 61.32px;
  font-weight: 700;
  color: #ccd6f6;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}
#alsoname {
  font-size: 61.52px;
  font-weight: 700;
  color:  #8892b0 !important;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}
#paragraph,p {
  font-size: 15px;
  color: #8892b0;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  margin-bottom: 50px;
}
#paragraph #btn-GetInTouch {
  font-size: 20px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono",
    monospace;
  color: #e3573c;
  border: 1px solid #e3573c;
  border-radius: 5px;
  padding: 20px 35px;
  margin-top: 50px;
}
#paragraph #btn-GetInTouch:hover {
  background-color: #e3583c42 !important;
  text-decoration: none;
}

svg {
  height: 60vh;
  position:fixed;
}
  svg text {
    font-size: 33px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 21px;
    fill: #8892b0;
  }


  //
  
  $text-color: #8892b0;
  $border-color: #8892b0;
  $border-color-on-hover:  #e3573c;
  
  
  .retab {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    width: 800px;
  
    .retab__tablist {
      display: flex;
      flex-direction: column;
      margin-right: 1em;
  
      .retab__tablist__tab {
        padding: 15px;
        font-size: 15px;
        color: $text-color;
        cursor: pointer;
        text-align: left;
        border-left:none;
        border-top:none;
        border-bottom:none;
        background:transparent ;
        border-right: .15em solid $border-color;
        &:hover, &.selected  {
          border-right-color: $border-color-on-hover;
        }
      }
    }
    
    .retab__tabpanel {
      padding: .5rem;
      color: $text-color;
      p{
      margin:0px;
      }
      #schmerz{
        font-size: 20px;
        padding-bottom:10px;
      }
      #verdienen{
        color:#ffff;
        font-weight: 600;
      }
    }
  }
  
  .tab-title {
    font-weight: bold;
  }
  .tab-subtitle {
    color: #67CCFF;
  }
  
  .tabpanel-title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .tabpanel-subtitle {
    color: #67CCFF;
    font-size: 1rem;
  }
  .tabpanel-text {
      margin-top: 1rem;
  }

  #titreAbout, #titreexperiens{
    font-size: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

  }
    #titreAbout::after, #titreexperiens::after {
  content: "";
  display: block;
  position: relative;
  top: 15px;
  width: 50%;
  height: 1px;
  margin-left: 20px;
  background-color: #8892b0;
  }

  #componentContact{
    padding:150px 100px;
    #stylebuttoncontact{
      transition:.5s;         
    }
    #step4{
      font-size: 15px;
      margin-bottom: 0px;
    }
  #stylebuttoncontact:hover{
    background-color:#e3583c42;
    text-decoration: none;
  }
    #description{
      font-size: 18px;
    }
  }
  @media (max-width: 768px) {
    #componentContact{
      padding: 0px;
    }
  }

  .moglichkeit{
    padding:100px;
  

  .otherpro{
    background-color: #212121 ;
    border-radius: 5px;
    padding:25px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.486);


    transition-delay: 0ms;
     visibility: visible; 
     opacity: 1; 
     transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); 
     transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, 
     opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, 
     transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    i{
      font-size:50px;
      padding-bottom: 25px;
    }
    .pro_title{
      font-size: 20px;
      color:#ccd6f6;
    }
    .pro_description{
      color:#a8b2d1;
      font-size: 15px;

    }
    footer{
      margin-bottom: 15px;
      .pro_tech_list{
      font-size: 13px !important;
        color:#8892b0;
        display: flex;
        align-items: flex-end;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0px;
        margin: 20px 0px 0px;
        list-style: none;
        li{
          padding-right:20px;
          display: list-item;
    text-align: -webkit-match-parent;
        }
      }
    }
  }
}
  @media (max-width: 768px) {
    .moglichkeit{
      padding: 30px;
    }
  }

  #btnresume{
    padding:10px 20px !important;

  }
  #btnblog{
    padding:10px 20px !important;
  }
  #btnresume, #btnblog{
    border: 1px solid #e3573c;
    color: #e3573c !important ;
    border-radius: 5px;
    margin: 0px 10px;
    margin-top: 15px;
  }
  #btnresume:hover, #btnblog:hover{
    background-color: #e3583c42 !important;
  }
  @media screen and (max-width: 576px){
    #btnresume, #btnblog{
    margin: 10px 0px;
    width: 100%;
    }
    #img_logo{
      min-width: 12%;
    }
    #siderheader{
    padding: 10px 30px;
    margin: 0px;
    width: 100%;
    }
  }
  @media screen and (max-width: 788px){
    #btnresume, #btnblog{
    margin: 10px 0px;
    width: 100%;
    }
  }